<h1>Search for a Geocache</h1>
<form id="lat-lon">
  <div class="form-group">
    <label>Enter Latitude</label>
    <br>
    <input #latitude>
    <label>Enter Longitude</label>
    <br>
    <input #longitude>
  </div>
  <button (click)="getGeocacheByLatLon(latitude.value, longitude.value); latitude.value=''; longitude.value=''">Get Geocache</button>
</form>

<form id="address">
  <div class="form-group">
    <label>Enter Address</label>
    <br>
    <input #address>
    <button (click)="getGeocacheByAddress(address.value); address.value=''">Get Geocache</button>
  </div>
</form>

<div *ngIf="foundGeocache != null">
  <p>Geocache Address: {{foundGeocache.address}}</p>
  <p>Geocache Latitude: {{foundGeocache.latitude}}</p>
  <p>Geocache Longitude: {{foundGeocache.longitude}}</p>
  <p>Geocache Location Type: {{foundGeocache.locationType}}</p>
</div>
<div *ngIf="noResult === true">
  <h3>Either your search parameters were not entered correctly, or there is no Geocache present at the requested location.</h3>
</div>
